:root {
  --font-color: #ffffff;
}

.card-desc {
  border: none;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 20px;
}

.card-desc:focus {
  outline: none;
  box-shadow: none;
}

.card-desc {
  color: var(--font-color);
}

:host ::ng-deep .p-card {
  background-color: #ede9e8;
}
