<p-card [style]="{'width': '400px', 'margin': '4px'}" pDroppable (onDrop)="onDrop()">
  <div class="p-card-header" style="display: flex; margin-bottom: 4px">
      <input type="text" pInputText placeholder="Enter title" class="card-title" style="flex-grow: 1;" [(ngModel)]="model.title" (ngModelChange)="table.saveToCookie()">
      <button pButton pRipple class="p-button-danger" icon="pi pi-trash" style="flex-shrink: 0;"  (mouseup)="delete()"></button>
  </div>
  <div class="m-0">
    <app-individual-card *ngFor="let card of filteredCards()" [model]="card"></app-individual-card>
    <button pButton pRipple style="width: 100%" class="p-button-help" icon="pi pi-plus" (mouseup)="newCard()"></button>
  </div>
</p-card>
